html {
  background-color: #333;
  color: #6feff9;
  font-family: "Ubuntu Mono", monospace;
}

.label {
  border-left: 1px dotted #6feff9;
  border-bottom: 1px dotted #6feff9;
  filter: drop-shadow(.1em .1em .3em #6feff9);
}

.btn svg {
  filter: drop-shadow(.1em .1em .3em #6feff9);
}

.border {
  border-top: 1px dotted #6feff9;
}

.border-bar {
  border-top: 1px dotted #6feff9;
}

.btn {
  color: #6feff9;
}

.btn:hover {
  color: #fff;
}

.alert-icon {
  animation: alert-scale .8s linear;
}

.bar-graph {
  transform: scaleY(0);
  transform-origin: 0 750px;
  animation: bar-grow 1s linear forwards;
}

@keyframes bar-grow {

  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }

}

@media only screen and (min-width: 38em) {

  .border-bar {
    border-right: 1px dotted #6feff9;
  }

}

@media only screen and (min-width: 60em) {

  .border {
    border-top: none;
  }

  .border-m {
    border-right: 1px dotted #6feff9;
  }

  .border-bar,
  .border-tv {
    border-top: 1px dotted #6feff9;
    border-right: none;
  }

}
