html {
  background-color: #333;
  color: #6feff9;
  font-family: "Ubuntu Mono", monospace;
}

.label {
  border-left: 1px dotted #6feff9;
  border-bottom: 1px dotted #6feff9;
  filter: drop-shadow(.1em .1em .3em #6feff9);
}

.btn svg {
  filter: drop-shadow(.1em .1em .3em #6feff9);
}

#hq {
  color: #ffd31d;
}

.border {
  border-top: 1px dotted #6feff9;
}

.border-bar {
  border-top: 1px dotted #6feff9;
}

.btn {
  color: #6feff9;
}

.btn:hover {
  color: #fff;
}

.alert-icon {
  color: #f62e52;
  opacity: .7;
  transform: scale(1);
  transform-origin: 667px 1360px;
  animation: alert-pulse 1s linear alternate infinite;
}

@keyframes alert-pulse {

  0% {
    transform: scale(1);
    opacity: .7;
  }

  100% {
    transform: scale(1.2);
    opacity: 1;
  }

}

.bar-graph {
  transform: scaleY(0);
  transform-origin: 0 750px;
  animation: bar-grow 1s linear forwards;
}

@keyframes bar-grow {

  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }

}

.tv-flicker {
  opacity: 1;
  animation: tv-flicker .5s ease infinite;
}

@keyframes tv-flicker {

  0% {
    opacity: .4;
  }

  33% {
    opacity: .9;
  }

  66% {
    opacity: .3;
  }

  100% {
    opacity: .8;
  }

}

@media only screen and (min-width: 38em) {

  .border-bar {
    border-right: 1px dotted #6feff9;
  }

}

@media only screen and (min-width: 60em) {

  .border {
    border-top: none;
  }

  .border-m {
    border-right: 1px dotted #6feff9;
  }

  .border-bar,
  .border-tv {
    border-top: 1px dotted #6feff9;
    border-right: none;
  }

}
